/* _ipad.scss */

@media screen and (max-width: 800px){
  body {
    width:100%;
    margin:0 auto;
  }
  header{
    margin:0 0 1em 0;
    padding:1em 0em 1em 0em;
    text-align:left;
    h1 {
      font-size: 106px;
      white-space: normal;
      text-align:left;
      overflow-x:hidden;
      margin: 0em 0 0em 0;
      padding:0.3em 0% 0.4em 5%;
      line-height: 0.9;
      span.word {
        text-align:left;
        display:inline-block;
        margin:0;
        span{
          @include transition(all 0.1s);
        }
      }
    }
  }
  #stuff {
    footer {
      h2 {
        margin-top: 1em;
        margin-bottom: 0.5em;
        font-size:2.5em;
      }
      div {
        padding-left:4%;
        padding-right:4%;
        text-align:left;
        width:100%;
        margin:2em auto;
        ul {
          li {
            font-size:1.3em;
            margin: 0;
            a {
                width: 100%;
                margin: .3em 0%;
                padding: 0.2em 4px;
            }
          }
        }
      }
    }
  }
}
