:root {
  --background-color: #ffffff;
  --primary-color: hsl(0, 0%, 30%);
  --secondary-color: hsl(0, 0%, 50%);
  --accent-color: hsl(0, 0%, 90%);
  --space-xs: 0.8rem;
  --space-sm: 2.4rem;
  --space-md: 4rem;
  --font-sm: 0.7rem;
  --font-md: 1rem;
  --font-lg: 1.5rem;
  --font-xl: 2.6rem;
}

html {
  background: var(--background-color);
  font-size: 18px;
}

body {
  background: var(--background-color);
  color: var(--primary-color);
  font-size: var(--font-md);
}

.resume {
  padding: var(--space-md);
  max-width: 50rem;
  margin: 0 auto;
}

header {
  margin-bottom: var(--space-md);
}

a {
  transition: color 0.3s;
  color: var(--secondary-color);
}

a[target="_blank"]::after {
  display: inline-block;
  height: var(--font-sm);
  width: var(--font-sm);
  margin: 0 0.2rem -0.1rem;
  content: "";
  background: var(--secondary-color);
  mask-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='1.5'><path d='M11.375 5H4v15h15v-7.375M15 3h6v6M21 3l-7 7' fill='none' stroke='%23000' stroke-width='2.67'/></svg>");
}

a:hover {
  color: var(--primary-color);
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0 0 var(--space-xs) 0;
  vertical-align: center;
}

h1 {
  font-size: var(--font-xl);
}

h2 {
  font-size: var(--font-lg);
}

h3 {
  font-size: var(--font-md);
}

p {
  line-height: calc(var(--font-md) * 1.4);
}

::selection {
  background: var(--accent-color);
}

@media screen and (max-width: 600px) {
  .resume {
    padding: var(--space-md) var(--space-xs);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(0, 0%, 15%);
    --primary-color: hsl(0, 0%, 80%);
    --secondary-color: hsl(0, 0%, 60%);
    --accent-color: hsl(0, 0%, 65%);
  }
}

@media print {
  :root {
    --background-color: #ffffff;
    --primary-color: hsl(0, 0%, 0%);
    --secondary-color: hsl(0, 0%, 30%);
  }

  html {
    font-size: 9.4px;
  }

  a {
    text-decoration: none;
  }

  a[target="_blank"]::after {
    display: none;
  }

  .hide-print {
    display: none !important;
  }

  .resume {
    padding: 4rem 4rem 0 4rem;
    max-width: 100%;
  }
}
